<!DOCTYPE html>
<meta charset="utf8">
<html>
    <head>
        <link rel="stylesheet" href="styles.css">
        <script src="game.js" type="module"></script>
    </head>
    <body>

        <ul>
            <li><a href="#username">-</a></li>
            <li><a href="#money">-</a></li>
            <li><a href="#level">-</a></li>
            <li style="float:right"><a class="active" href="/logout">Logout</a></li>
        </ul>

      <canvas id="canvas-id" ></canvas>

    </body>

</html>